<%- include("partials/header") %>
<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <h4>Title</h4>
    <input class="form-control" type="text" name="titleComposeText" id="" />
    <h4>Post</h4>
    <textarea
      class="form-control"
      rows="5"
      cols="30"
      name="composeText"
    ></textarea>
  </div>

  <button class="btn btn-primary">Publish</button>
</form>

<%- include("partials/footer") %>
